<div class="container">
	<div class="full-content-center animated fadeInDownBig">
		<p class="text-center"><a href="#"><img src="assets/img/login-logo.png" alt="Logo"></a></p>
		<div class="login-wrap">
			<div *ngIf="errors?.system" class="alert alert-danger">
				<i class="fa fa-info"></i>&nbsp;{{errors?.system}}
			</div>
			<div *ngIf="errors?.success" class="alert alert-success">
				<i class="fa fa-check"></i>&nbsp;{{errors?.success}}<br><a routerLink="/auth/login">Click to login.</a>
			</div>
			<div class="login-block">
				<form role="form" [formGroup]="form" (ngSubmit)="register()">
					<div class="form-group login-input {{ errors?.name ? 'has-error' : '' }}">
						<i class="fa fa-user overlay"></i>
						<input formControlName="name" type="text" class="form-control text-input" placeholder="Name">
						<div *ngIf="errors?.name">
		                    <small>
		                        <span id="helpblock1" class="help-block">{{ errors?.name }}</span>
		                    </small>
		                </div>
					</div>
					<div class="form-group login-input {{ errors?.email ? 'has-error' : '' }}">
						<i class="fa fa-envelope overlay"></i>
						<input formControlName="email" type="text" class="form-control text-input" placeholder="E-mail">
						<div *ngIf="errors?.email">
		                    <small>
		                        <span id="helpblock1" class="help-block">{{ errors?.email }}</span>
		                    </small>
		                </div>
					</div>
					<div class="form-group login-input {{ errors?.password ? 'has-error' : '' }}">
						<i class="fa fa-key overlay"></i>
						<input formControlName="password" type="password" class="form-control text-input" placeholder="Password">
						<div *ngIf="errors?.password">
		                    <small>
		                        <span id="helpblock1" class="help-block">{{ errors?.password }}</span>
		                    </small>
		                </div>
					</div>
					<div class="form-group login-input {{ errors?.password_confirmation ? 'has-error' : '' }}">
						<i class="fa fa-key overlay"></i>
						<input formControlName="password_confirmation" type="password" class="form-control text-input" placeholder="Confirm Password">
						<div *ngIf="errors?.password_confirmation">
		                    <small>
		                        <span id="helpblock1" class="help-block">{{ errors?.password_confirmation }}</span>
		                    </small>
		                </div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success btn-block">Register</button>
						</div>
						<div class="col-sm-12">
							<a type="button" routerLink="/auth/login" class="btn btn-default btn-block">Login</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>