 <section class="hero-banner bg-white-1">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>FEEL FREE TO DROP ME A LINE!</h2><hr>
                <div class="row">
                    <div class="col-sm-12">
                        I would love to hear from you. Please drop me a line and let me know what you think. I will get back to you as soon as i can.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center contact-phone text-success" *ngFor="let item1 of sitedata">
                <span class="text-lg text-primary">MOBILE NO</span><br><i class="fa fa-mobile"></i>
                {{item1.contact}}
            </div>
        </div>
    </div>
</section>
<section id="contact-form bg-white-1" class="contact-form block">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-6">
                <form name="sentMessage" id="contactForm" novalidate>
                    <legend>GET IN TOUCH</legend>
                    <div id="success"></div> <!-- For success/fail messages -->
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                            <p class="help-block"></p>
                        </div>
                    </div>   

                    <div class="form-group">
                        <div class="controls">
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                        </div>
                    </div>  
                          
                    <div class="form-group">
                        <div class="controls">
                            <textarea rows="10" cols="100" class="form-control" id="message" name="message" style="resize:none"></textarea>
                        </div>
                    </div>        
                    
                    <div class="text-right">
                        <button type="reset" class="btn btn-danger">RESET</button>
                        <button type="submit" class="btn btn-primary">SEND</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well transparent" style="color: #000" *ngFor="let item of sitedata">
                            <h4>PHILIPPINE ADDRESS</h4>
                            <b>ADDRESS</b>
                            <p>{{ item.location }}</p>
                            <b>MOILE/PHONE</b>
                            <p>{{ item.contact }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>