<div class="content-page" style="min-height: 600px">
    <div class="content">
    	<div class="page-heading">
            <h1><i class="fa fa-home"></i> Dashboard</h1>
        </div>
		<div class="row">
			<div class="container">
				<div class="container">
					<ul class="nav nav-tabs nav-simple">
					<li class="active">
						<a (click)="setActive('portfolio')" href="#portfolio" data-toggle="tab"><i class="fa fa-list"></i> Portfolio List</a>
					</li>
					<li class="">
						<a (click)="setActive('blog')" href="#blog" data-toggle="tab"><i class="fa fa-list"></i> Blog List</a>
					</li>
				</ul>
				</div>
				<div class="tab-content" style="background: #ffffff">
					<div class="tab-pane fade active in" id="portfolio">
						<div class="widget">
							<div class="widget-header transparent">
								<div class="additional-btn">
									<a href="#" (click)="refresh()" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="data-table-toolbar">
									<div class="row">
										<div class="col-md-4">
											<input type="text" (keyup)="search(key.value)" #key class="form-control" placeholder="Search...">
										</div>
										<div class="col-md-8">
											<div class="toolbar-btn-action">
												<a class="btn btn-success" (click)="openModal('post','Portfolio', '')"><i class="fa fa-plus-circle"></i> Add new</a>
											</div>
										</div>
									</div>
								</div>
									
								<div class="table-responsive">
									<table data-sortable class="table table-hover table-striped">
										<thead>
											<tr>
												<th>No</th>
												<th>Title</th>
												<th>Description</th>
												<th>Link</th>
												<th>Status</th>
												<th>Date Created</th>
												<th data-sortable="false">Action</th>
											</tr>
										</thead>
										
										<tbody>
											<tr *ngIf="bigTotalItems == 0 else mylaman">
												<td colspan="7"><h4 class="text-center">No Records Found.</h4></td>
											</tr>
											<ng-template #mylaman>
												<tr *ngFor="let item of project">
													<td>{{item.id}}</td>
													<td><strong>{{item.title}}</strong></td>
													<td>{{item.description}}</td>
													<td><i class="fa fa-link"></i> <a href="{{item.link}}" target="__blank">{{item.link}}</a></td>
													<td><span class="label label-success">{{item.status == 'published' ? 'Published' : 'Unpubslihed'}}</span></td>
													<td>{{item.created_at}}</td>
													<td>
														<div class="btn-group btn-group-xs">
															<a (click)="openModal('edit','Portfolio',item.id)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
															<a (click)="openModal('delete','Portfolio',item.id)"  data-toggle="tooltip" title="delete" class="btn btn-default"><i class="fa fa-trash"></i></a>
														</div>
													</td>
												</tr>
											</ng-template>
										</tbody>
									</table>
								</div>
									
								<div class="col-md-12" *ngIf="bigTotalItems != 0">
								  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
								              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
								 	</pagination>
								</div>
							</div>
						</div>
					</div> 
					<div class="tab-pane fade" id="blog">
						<div class="widget">
							<div class="widget-header transparent">
								<div class="additional-btn">
									<a href="#" (click)="refresh()" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="data-table-toolbar">
									<div class="row">
										<div class="col-md-4">
											<input type="text" (keyup)="search(key2.value)" #key2 class="form-control" placeholder="Search...">
										</div>
										<div class="col-md-8">
											<div class="toolbar-btn-action">
												<a class="btn btn-success" (click)="openModal('post','Blog', '')"><i class="fa fa-plus-circle"></i> Add new</a>
											</div>
										</div>
									</div>
								</div>
									
								<div class="table-responsive">
									<table data-sortable class="table table-hover table-striped">
										<thead>
											<tr>
												<th>No</th>
												<th>Title</th>
												<th>Description</th>
												<th>Status</th>
												<th>Date Created</th>
												<th data-sortable="false">Action</th>
											</tr>
										</thead>
										
										<tbody>
											<tr *ngIf="bigTotalItems == 0 else mylaman2">
												<td colspan="7"><h4 class="text-center">No Records Found.</h4></td>
											</tr>
											<ng-template #mylaman2>
												<tr *ngFor="let item2 of post">
													<td>{{item2.id}}</td>
													<td><strong>{{item2.title}}</strong></td>
													<td>{{item2.description}}</td>
													<td><span class="label label-success">{{item2.status == 'published' ? 'published' : 'unpubslihed'}}</span></td>
													<td>{{item2.created_at}}</td>
													<td>
														<div class="btn-group btn-group-xs">
															<a (click)="openModal('edit','Blog',item2.id)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
															<a (click)="openModal('delete','Blog',item2.id)"  data-toggle="tooltip" title="delete" class="btn btn-default"><i class="fa fa-trash"></i></a>
														</div>
													</td>
												</tr>
											</ng-template>
										</tbody>
									</table>
								</div>
									
								<div class="col-md-12" *ngIf="bigTotalItems != 0">
								  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
								              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
								 	</pagination>
								</div>
							</div>
						</div>
					</div> 
				</div> 
			</div>
		</div>	
    </div>
</div>