<footer *ngIf="login == false else footeradmin" style="margin-top: 0px;">
  <div class="container" style="width: 90%">
      <div class="row">
          <div class="col-sm-4" *ngFor="let item2 of sitedata">
              <a routerLink="/">
                  <img src="{{item2.logo}}" alt="{{item2.title}}" class="footer-logo" *ngIf="item2.logo else nologo">
                  <ng-template #nologo>
                      <p class="site-title">{{item2.title}}</p>
                  </ng-template>
              </a>
              <h5 class="font-white">{{item2.tagline}}</h5>
          </div>
          <div class="col-sm-4">
              <h4>CONTACT US</h4>
              <ul class="list-unstyled company-info" *ngFor="let item2 of sitedata">
                  <li><i class="fa fa-map-marker"></i> {{item2.location}}</li>
                  <li><i class="fa fa-phone"></i> {{item2.contact}}</li>
                  <li><i class="fa fa-envelope"></i> <a href="mailto:{{item2.email}}">{{item2.email}}</a></li>
                  <li><i class="fa fa-bell-o"></i> Monday - Friday: <strong>8:00 am - 7:00 pm</strong><br>Saturday - Sunday: <strong>Closed</strong></li>
              </ul>
          </div>
          <div class="col-sm-4 hidden-xs">
              <h4>QUICK LINKS</h4>
              <ul class="list-unstyled social-stream">
                  <li>
                    <a routerLink="/">Home</a>
                  </li>
                  <li>
                    <a routerLink="/works">Portfolio</a>
                  </li>
                  <li>
                    <a routerLink="/blog">Blog</a>
                  </li>
                  <li>
                    <a routerLink="/about">About</a>
                  </li>
                  <li>
                    <a routerLink="/contact">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="row"> 
          <div class="col-sm-6" *ngFor="let item3 of sitedata">
              <p>Copyright &copy; {{ today | date: 'yyyy' }} by <a routerLink="/">{{ item3.owner }}</a></p> 
          </div>
          <div class="col-sm-6 text-right">
              <div class="social-links">
                    <a *ngFor="let items of socialdata" href="{{ items.url }}" target="__blank">
                        <i class="fa fa-{{ (items.name=='facebook') ? 'facebook' : (items.name =='twitter') ? 'twitter': (items.name=='linkedin') ? 'linkedin' : '' }} fa-2"></i>
                    </a>
              </div>
          </div>
      </div>
  </div>
</footer>

<ng-template #footeradmin>
</ng-template> 