<header *ngIf="login === false else headeradmin" class="{{ (page == 'works' || page == 'auth/login' || page == 'auth/register') ? 'inverted' : '' }}">
    <div id="topbar">
        <div class="container" style="width: 90%">
            <div class="row">
                <div class="col-sm-6 col-xs-6" *ngFor="let item of sitedata">
                    <span class="hidden-sm hidden-xs">
                        <i class="fa fa-location-arrow"></i> {{item.location}} 
                    </span>
                    <span class="vertical-space"></span> 
                    <i class="fa fa-phone"></i> {{item.contact}}
                </div>
                <div class="col-sm-6 col-xs-6 text-right">
                    <div class="btn-group social-links hidden-sm hidden-xs" *ngFor="let items of socialdata">    
                        <a href="{{ items.url }}" target="__blank" class="btn btn-link">
                            <i class="fa fa-{{ (items.name=='facebook') ? 'facebook' : (items.name =='twitter') ? 'twitter': (items.name=='linkedin') ? 'linkedin' : '' }} fa-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="top-divider"></div>
        </div>
    </div>            
    <nav class="navbar navbar-default" role="navigation">
        <div class="container" style="width: 90%">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="fa fa-th-large"></span>
                </button>
                <a class="navbar-brand" routerLink="/">
                    <h2>Ryan Dingle</h2><!-- <img src="assets/img/logo.png" data-dark-src="assets/img/logo_dark.png" alt="Coco Frontend Template" class="logo"> -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" class="{{page == 'home' ? 'active' : ''}}" (click)="pageName('home')">HOME</a></li>
                    <li><a routerLink="works" class="{{page == 'works' ? 'active' : ''}}" (click)="pageName('works')">PORTFOLIO</a></li>
                    <li><a routerLink="blog" class="{{page == 'blog' ? 'active' : ''}}" (click)="pageName('blog')">BLOG</a></li>
                    <li><a routerLink="about" class="{{page == 'about' ? 'active' : ''}}" (click)="pageName('about')">ABOUT</a></li>
                    <li><a routerLink="contact" class="{{page == 'contact' ? 'active' : ''}}" (click)="pageName('contact')">CONTACT</a></li>
                    <li *ngIf="status"><a routerLink="/admin">ADMIN</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <div *ngIf="page == 'works' || page == 'auth/login' || page == 'auth/register' else headbg"></div>        
    <ng-template #headbg>
        <section class="main-slider fullsize" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/headers/indexreal.jpg)">
            <div class="slider-caption" *ngFor="let item3 of sitedata">
                <h1 data-animate="fadeInDown" data-delay="1000" data-duration="2s">
                    <br><br>
                    {{ (page == 'home') ? item3.tagline : ''}}
                    {{ (page == 'blog') ? 'MY BLOG' : ''}}
                    {{ (page == 'works') ? 'PORTFOLIO' : ''}}
                    {{ (page == 'about') ? 'ABOUT ME' : ''}}
                    {{ (page == 'contact') ? 'CONTACT' : ''}}
                </h1>
                <br>
                <div *ngIf="page == 'home'">
                    <a data-animate="fadeInUp" data-duration="2s" data-delay="1300" routerLink="about" class="btn btn-primary btn-lg">Know More About Me ?</a>
                </div>
            </div>
        </section>    
    </ng-template>
</header>
<ng-template #headeradmin>
<div class="topbar">
    <div class="topbar-left">
        <div class="logo">
            <h1>
                <a href="#">RLD<!-- <img src="assets/img/logo.png" alt="Logo"> --></a>
            </h1>
        </div>
        <button class="button-menu-mobile open-left">
        <i class="fa fa-bars"></i>
        </button>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right top-navbar">
                    <li class="dropdown iconify hide-phone">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <span class="label label-danger absolute">4</span>
                        </a>
                        <ul class="dropdown-menu dropdown-message">
                            <li class="dropdown-header notif-header"><i class="icon-bell-2"></i> New Notifications<a class="pull-right" href="#"></a></li>
                            <li class="unread">
                                <a href="#">
                                    <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>
                                        <br /><i>2 minutes ago</i>
                                    </p>
                                </a>
                            </li>
                            <li class="unread">
                                <a href="#">
                                    <p><strong>John Doe</strong> Created an photo album  <strong>&#34;Fappening&#34;</strong>
                                        <br /><i>8 minutes ago</i>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p><strong>John Malkovich</strong> Added 3 products
                                        <br /><i>3 hours ago</i>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p><strong>Sonata Arctica</strong> Send you a message <strong>&#34;Lorem ipsum dolor...&#34;</strong>
                                        <br /><i>12 hours ago</i>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p><strong>Johnny Depp</strong> Updated his avatar
                                        <br /><i>Yesterday</i>
                                    </p>
                                </a>
                            </li>
                            <li class="dropdown-footer">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-primary"><i class="icon-ccw-1"></i> Refresh</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-danger"><i class="icon-trash-3"></i> Clear All</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-success">See All <i class="icon-right-open-2"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown iconify hide-phone">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="label label-danger absolute">3</span></a>
                        <ul class="dropdown-menu dropdown-message">
                            <li class="dropdown-header notif-header"><i class="icon-mail-2"></i> New Messages</li>
                            <li class="unread">
                                <a href="#" class="clearfix">
                                    <img src="assets/images/users/chat/2.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                                    <strong>John Doe</strong><i class="pull-right msg-time">5 minutes ago</i><br />
                                    <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                                </a>
                            </li>
                            <li class="unread">
                                <a href="#" class="clearfix">
                                    <img src="assets/images/users/chat/1.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                                    <strong>Sandra Kraken</strong><i class="pull-right msg-time">22 minutes ago</i><br />
                                    <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="assets/images/users/chat/3.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                                    <strong>Zoey Lombardo</strong><i class="pull-right msg-time">41 minutes ago</i><br />
                                    <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                                </a>
                            </li>
                            <li class="dropdown-footer"><div class=""><a href="#" class="btn btn-sm btn-block btn-primary"><i class="fa fa-share"></i> See all messages</a></div></li>
                        </ul>
                    </li>
                    <li class="dropdown topbar-profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="rounded-image topbar-profile-image">
                            <img src="{{ usrers?.image != '' ? users?.image : 'assets/images/users/user-35.jpg' }}">
                            </span> 
                            {{users?.firstname}}&nbsp;<strong>{{users?.lastname}}</strong>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="profile">My Profile</a></li>
                            <li><a routerLink="account">Account Setting</a></li>
                            <li class="divider"></li>
                            <li><a (click)="logout()"><i class="icon-logout-1"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="clearfix"></div><br>
        <!--- Profile -->
        <div class="profile-info">
            <div class="col-xs-4">
                <a routerLink="profile" class="rounded-image profile-image">
                    <img src="{{ users?.image != '' ? users?.image : 'assets/images/users/user-100.jpg' }}">
                </a>
            </div>
            <div class="col-xs-8">
                <div class="profile-text">Welcome <b>{{ users.name }}</b></div>
                <div class="profile-buttons">
                  <a routerLink="profile"><i class="fa fa-user"></i></a>
                  <a routerLink="account"><i class="fa fa-cog"></i></a>
                  <a (click)="logout()"><i class="fa fa-power-off text-red-1"></i></a>
                </div>
            </div>
        </div>
        <!--- Divider -->
        <div class="clearfix"></div>
        <hr class="divider" />
        <div class="clearfix"></div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a (click)="pageName('admin')" class="{{ page == 'admin' ? 'active' : '' }}" routerLink="admin"><i class='fa fa-home'></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a (click)="pageName('portfolio')" class="{{ page == 'portfolio' ? 'active' : '' }}" routerLink="portfolio"><i class='fa fa-book'></i><span>Portfolio</span></a>
                </li>
                <li>
                    <a (click)="pageName('article')" class="{{ page == 'article' ? 'active' : '' }}" routerLink="article"><i class='fa fa-comments-o'></i><span>Articles</span></a>
                </li>
                <li>
                    <a (click)="pageName('meta')" class="{{ page == 'meta' ? 'active' : '' }}" routerLink="meta"> <i class='fa fa-info-circle'></i><span> Site Meta</span></a>
                </li>
                <li>
                    <a (click)="pageName('frontend')" class="{{ page == 'frontend' ? 'active' : '' }}" routerLink="frontend"><i class="fa fa-sitemap"></i><span> Front End</span></a>
                </li>
                <li>
                    <a (click)="pageName('api')" class="{{ page == 'api' ? 'active' : '' }}" routerLink="api"><i class="fa fa-connectdevelop"></i><span> API</span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <br><br><br>
    </div>
    <div class="left-footer">
        <div class="progress progress-xs">
          <div class="progress-bar bg-green-1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="progress-precentage">80%</span>
          </div>
          
          <a data-toggle="tooltip" title="See task progress" class="btn btn-default md-trigger" data-modal="task-progress"><i class="fa fa-inbox"></i></a>
        </div>
    </div>
</div>
</ng-template>