<section class="bg-success" style="min-height: 5px;"></section>
<section class="bg-white-1">
	<div class="container" style="width: 90%;min-height: 600px">
		<div class="col-sm-8 pull-left">		
			<div *ngIf="post.length !== 0 else nodata">
				<article class="post" *ngFor="let item of post">
					<br>
					<br>
					<a routerLink="/blog/{{item.slug}}"><img class="image-responsive" src="{{item?.image}}"></a>
					<br>
					<header class="entry-header">
						<h1 class="entry-title"><a [routerLink]="['/blog', item.slug]" rel="bookmark">{{item.title}}</a></h1>
						<div class="entry-meta"> 
							<span class="posted-on"> Published on {{item.created_at | date}} | Category: Coding | Tag: Test</span>
						</div>
					</header>
					<br>
					<div class="entry-content">
						<div class="body" [innerHTML]="item.body|slice:0:300"></div>...
					</div>
					<br>
				</article>
			</div>
			<ng-template #nodata>
				<article class="post">
					<h2>No post yet belongs to this category.</h2>
				</article>
			</ng-template>
		</div> 
		<div class="col-md-4 pull-right border-left-black">
			<h3>Categories</h3>
			<ul class="no-bullets">
				<li *ngFor="let cat of categories"><a (click)="navigate(cat.id)" style="cursor: pointer">{{cat.title}}</a></li>
			</ul>
		</div>
		<div class="col-md-8" *ngIf="bigTotalItems >= 10">
		  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
		              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
		 	</pagination>
		</div>
	</div>
</section>