
<section class="hero-banner bg-white-1">
      <div class="container text-center">

          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
              <h2>We <span class="invert bg-success">KNOW</span> what we are doing!</h2>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              </div>
          </div>
      </div>
</section>

<section class="features-block">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">SERVICES OFFERED</h2>
                <br><br>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="0">
                <h4>PERFECTLY RESPONSIVE</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="300">
                <h4>SIMPLE & ELEGANT LOOK</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="600">
                <h4>BUILT WITH BOOTSTRAP</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>

<section class="services-block bg-white-1">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">RECENT WORKS</h2>
                <br><br>
            </div>
        </div>
        <div class="row zoom-gallery" data-animate="zoomIn" data-delay="0">
            <div class="col-sm-4">
                <a href="assets/images/portfolio/image1.jpg" data-source="assets/images/portfolio/image1.jpg" class="gallery-item effect-milo">
                    <img src="assets/images/portfolio/thumbs/image1.jpg">
                </a>
                <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                <p class="gallery-item-descr">Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
            <div class="col-sm-4" data-animate="zoomIn" data-delay="300">
                <a href="assets/images/portfolio/image2.jpg" data-source="assets/images/portfolio/image2.jpg" class="gallery-item effect-milo">
                    <img src="assets/images/portfolio/thumbs/image2.jpg">
                </a>
                <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                <p class="gallery-item-descr">Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
            <div class="col-sm-4" data-animate="zoomIn" data-delay="600">
                <a href="assets/images/portfolio/image3.jpg" class="gallery-item effect-milo">
                    <img src="assets/images/portfolio/thumbs/image3.jpg">
                </a>
                <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                <p class="gallery-item-descr">Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
            <div class="col-sm-4">
                <a href="assets/images/portfolio/image1.jpg" data-source="assets/images/portfolio/image1.jpg" class="gallery-item effect-milo">
                    <img src="assets/images/portfolio/thumbs/image1.jpg">
                </a>
                <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                <p class="gallery-item-descr">Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
            <div class="col-sm-4" data-animate="zoomIn" data-delay="300">
                <a href="assets/images/portfolio/image2.jpg" data-source="assets/images/portfolio/image2.jpg" class="gallery-item effect-milo">
                    <img src="assets/images/portfolio/thumbs/image2.jpg">
                </a>
                <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                <p class="gallery-item-descr">Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
            <div class="col-sm-4" data-animate="zoomIn" data-delay="600">
                <a href="assets/images/portfolio/image3.jpg" class="gallery-item effect-milo">
                    <img src="assets/images/portfolio/thumbs/image3.jpg">
                </a>
                <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                <p class="gallery-item-descr">Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
        </div>
    </div>
</section>

<section class="product-block">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2><b>ALL IN PACKAGE</b><br> THAT CAN FIT ALL YOUR REQUIREMENTS</h2>
                <br>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <img src="assets/images/featured2.png" class="image-sized" data-animate="fadeInRight">
            </div>
            <div class="col-sm-12 text-center">
                <br>
                <h2><button class="btn btn-info btn-lg" [routerLink]="['/contact']">DISCUS A PROJECT NOW ?</button></h2>
            </div>
        </div>
    </div>
</section>

<section class="subscribe-block text-center">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>SUBSCRIBE</h1>
                <p>Please subscribe to our newsletter so you can learn the updates for new products before anyone else. Also we will spam your mailbox.</p>
                <hr class="divider">
                <form action="" role="form">
                        <input type="text" placeholder="Enter your email address" name="subscribe-input" id="subscribe-input" class="form-control input-lg">
                        <button class="btn btn-primary btn-lg subscribe-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>  