<section class="hero-banner bg-success">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-white-1">WEB ARTISANS FOR YOUR PROJECTS!</h2><hr>
                <div class="row">
                    <div class="col-sm-12 text-white-1">
                        I love challenging projects that makes me think out of the box. Creating business logic, analyzing data, data testing and other cool activities of being a full stack developer makes my self grow in this kind of work field. I would love to deliver quality works to all my clients and hearing thier feedback on my work makes me feel great and do much better on my future projects.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-block block bg-white-1">
    <div class="container" style="width: 90%">
        <div class="portfolio-container row">

            <div *ngIf="projects.length !== 0 else nodata">
                <div class="project col-md-4" *ngFor="let item of projects">
                    <a [routerLink]="['/works', item.id]" class="gallery-item">
                        <img class="image-responsive" src="{{item.image}}" style="height: 250px">
                    </a>
                    <div class="btn-group pull-right">
                        <a href="{{item.link}}" target="_blank" class="btn btn-link">
                            <i class="fa fa-link"></i> {{item.link}}
                        </a>
                    </div>
                    <a [routerLink]="['/works', item.id]" class="gallery-item-title">{{item.title}}</a>
                </div>
            </div>
            <ng-template #nodata>
                <div class="col-md-12">
                    <h1>No projects found.</h1>
                </div>
            </ng-template>

            <div class="col-md-12" *ngIf="bigTotalItems >= itemsPerPage">
                <pager [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn" itemsPerPage="itemsPerPage"></pager>
            </div>
    
        </div>
    </div>
</section>
  